

* {
    box-sizing: border-box; /*определяет как вычисляется общая ширина и высота элемента.*/
}

.container {
    max-width: 1200px; 
    margin: 0 auto;
    padding:  0 15px;
}

body {
    margin: 0;
    padding: 0;
}

@import 'blocks/header';
@import 'blocks/about';
@import 'blocks/team';
@import 'blocks/block';
@import 'blocks/provide';
@import 'blocks/contacts';
@import 'blocks/footer';

@import 'blocks/media';



// font-family: 'Merriweather', serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;