.footer {
    padding-top: 154px;
    &__text {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.02em;
        color: #3b3b3b;
        margin-bottom: 29px;

    }
}