
@media (max-width: 1013px) {
    .about {
        &__inner {
            grid-template-columns: max-content;
            gap: 100px;
        }
    }
}


@media (max-width: 769px) {
    .about {
        padding-bottom: 200px;
        &__inner {
            gap: 30px;
            grid-template-columns: max-content;
        }
    }
    .team {
        .block__title {
            padding-top: 100px;
        }
    }
    .provide {
        padding-bottom: 100px;
        .inverse .block__title {
            padding-top: 100px;
        }
        &__inner {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            margin: 0 15px 50px;
        }
    }
    .contacts {
        &__form {
            padding-top: 100px;
        }
    }
    .footer {
        padding-top: 30px;
    }
}

@media (max-width: 541px) {
    .header {
        &__logo {
            margin: 0 -15px;
        }
        &__desktop {
            display: none;
        }
        &__mobile {
            display: flex;
            flex-direction: column;
        }
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items:center;
        }
        &__menu {
            display: none;
            text-align: center;
            a {
                margin: 0;
            }
            li {
                padding: 10px 0;
            }
        }
        &__burger {
            display: block;
            overflow: hidden;
            padding: 0;
            cursor: pointer;
            width: 40px;
            height: 40px;
            font-size: 0;
            border-radius: 5px;
            background-color:black;
            position: relative;
            span {
                display: block;
                position: absolute;
                background-color:aliceblue;
                height: 4px;
                width: 30px;
                top: 18px;
                left: 5px;
                right: 5px;
                transition: 0s 0.3s;
                &::after {
                    content:'';
                    position: absolute;
                    display: block;
                    height: 4px;
                    width: 100%;
                    background-color:aliceblue;
                    top: -10px;
                    transition-duration: 0.3s, 0.3s;
                    transition-delay: 0.3s, 0s;
                }
                &::before {
                    content:'';
                    position: absolute;
                    display: block;
                    height: 4px;
                    width: 100%;
                    background-color:aliceblue;
                    top: 10px;
                    transition-duration: 0.3s, 0.3s;
                    transition-delay: 0.3s, 0s;
                }
            }
        }
        &__title {
            padding-top: 100px;
            margin: 0 auto 30px;
        }
        &__button {
            margin-bottom: 100px;
        }
        &__close {
            span {
                background: none;
                &::after {
                    top: 0;
                    transform: rotate(45deg);
                }
                &::before {
                    top: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .about {
        padding-top: 80px;
        &__item {
            width: 300px;
        }
    }
    .team {
        height: auto;
        padding-bottom: 80px;
        &__inner {
            flex-wrap: wrap;
        }
        &__item {
            width: 300px;
            padding-top: 60px;
        }
    }
    .provide {
        padding-bottom: 60px;
        &__inner {
            padding-top: 100px;
        }
    }
    .contacts {
        &__form {
            padding-top: 50px;
        }
    }
}